<% include header.html%>
    <link rel="stylesheet" href="/css/header02.css" />
    <link rel="stylesheet" href="/css/info.css" />
    <title>消息</title>
    </head>

    <body>
        <% include header02.html%>

            <div class="address">
                <a href="/visitor/info_zan">
                    <div class="zan">
                        <span class="layui-icon layui-icon-praise"></span>
                    </div>
                    <div class="text01"><p>点赞</p></div>               
                    <div id="right001">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div style="clear: both;"></div>
                </a>
            </div>
            <div class="address">
                <a href="/visitor/info_comment">
                    <div class="zan comment01">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </div>
                    <div class="text01">
                        <p>评论</p>
                    </div>
                    <div id="right001">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div style="clear: both;"></div>
                </a>
            </div>
            <div class="address">
                <a href="/visitor/info_fan">
                    <div class="zan fan01">
                        <span class="layui-icon layui-icon-group"></span>
                    </div>
                    <div class="text01">
                        <p>新粉丝</p>
                    </div>
                    <div id="right001">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                </a>
            </div>
            <div class="address">
                <a href="/visitor/info_collection01">
                    <div class="zan collection01">
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <div class="text01">
                        <p>收录&amp;收藏</p>
                    </div>
                    <div id="right001">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                </a>
            </div>
            <div class="address">
                <a href="/visitor/info_robot">
                    <div class="zan robot01">
                        <span class="glyphicon glyphicon-piggy-bank"></span>
                    </div>
                    <div class="text01">
                        <p>小助手</p>
                    </div>
                    <div id="right001">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                </a>
            </div>

            <!--<script src="/js/my.js "></script>-->
            <% include aside.html%>