<% include header.html%>

<link rel="stylesheet" type="text/css" href="/css/my.css">

<title>我的</title>
</head>

<body>
	<div class="header">
		<a href="/nologin/detail_nologin">
			<img src="/img/notx.pngs"/></span>
		</a>
		
		<div class="btn">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="content">
	<div class="username">
			
			<div class="text">
				<div class="u_name">XXX</b></strange></div>
				<div class="biaoqian">个性标签：XXX</div>
			</div>
			<div class="fensi">
				<div class="bt">
					<a href="/visitor/fast_login">
					<p>0</p>
					<p>作品</p>
					</a>
				</div>
				<div class="bt">
					<a href=""><p>0</p><p>关注</p></a>
				</div>
				<div class="bt">
					<a href="/visitor/fast_login"><p>0</p><p>粉丝</p></a>
				</div>
			
		</div>
	</div>
	<div class="address">
		<a href="/nologin/detail_nologin">
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 aaa">
				<span class="glyphicon glyphicon-book"></span>
				<span >资料</span>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 bbb">
				<span class="glyphicon glyphicon-menu-right"></span>
			</div>
			<div style="clear: both;"></div>
		</a>
	</div>
	<div class="address">
		<a href="/visitor/fast_login">
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 aaa">
				<span class="glyphicon glyphicon-heart"></span>
				<span >收藏</span>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 bbb">
				<span class="glyphicon glyphicon-menu-right"></span>
			</div>
			<div style="clear: both;"></div>
		</a>
	</div>
	<div class="address">
		<a href="/visitor/my_sharing">
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 aaa">
				<span class="glyphicon glyphicon-globe"></span>
				<span >分享会</span>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 bbb">
				<span class="glyphicon glyphicon-menu-right"></span>
			</div>
			<div style="clear: both;"></div>
		</a>
	</div>
	<div class="address">
		<a href="/visitor/setting">
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 aaa">
				<span class="glyphicon glyphicon-cog"></span>
				<span >设置</span>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 bbb">
				<span class="glyphicon glyphicon-menu-right"></span>
			</div>
			<div style="clear: both;"></div>
		</a>
	</div>
	<div class="address">
		<a href="/visitor/my_regard">
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 aaa">
				<span class="glyphicon glyphicon-tag"></span>
				<span >关于我们</span>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-6 bbb">
				<span class="glyphicon glyphicon-menu-right"></span>
			</div>
			<div style="clear: both;"></div>
		</a>
	</div>
	
	<div class="address out01">
		<div>
			<a href="/visitor/fast_login">
				<p>退出当前账号</p>
			</a>
		</div>
	</div>
<!-- <script src="/js/my.js "></script> -->
<% include aside.html%>