<% include top.html%>

    <link rel="stylesheet" href="/css/regard.css" />
    <!-- <link rel="stylesheet" href="/css/info.css" /> -->
<title>关于我们</title>
</head>


<body style="font-size: 12px;">
<!-- 顶部 -->
  <div class="top">
    	<a href="/visitor/my" class="left00">
       		<span class="glyphicon glyphicon-menu-left left01"></span>
    	</a>
    	<a href="/visitor/info">
			<span class="biaoti">关于我们</span>
    	</a>
   		<a href="/visitor/info" class="right00">
			<span class="layui-icon layui-icon-more-vertical share"></span>
   		</a>    		                 
	</div>
<!-- 内容 -->
	<div class="content">
      <div class="head01">
        <div><img src="/img/mine01.jpg" alt=""></div>
        <h2>v1.0.0</h2>
        <p>中国领先时尚摄影APP</p>
      </div>
  </div>
  <!-- 底部 -->
<nav class="navbar navbar-default navbar-fixed-bottom footer01">
  
    <p>leaf个人出版  版权所有</p>
    <p>欢迎致电访问 邮箱：13145698745@163.com</p>
  
</nav>











</body>
</html>