<!DOCTYPE html>

<html lang="wl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/setting.css" />
		<title>设置</title>
	</head>

	<body>
		<div class="header">
			<a href="/visitor/my">
				<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			</a>
			设置
			<div class="btn">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="content">
			<div class="username">
				<img src="/img/main02.png" alt="" />
				<div class="text">
					<div class="name">leaf</div>
					<div class="haha">个性标签：用镜头看世界</div>
				</div>
				<div class="right">
					<div class="img"><img src="/img/erw.png" alt="" /></div>
					<div class="back">
						<a href=""> 
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="address">
			账号与安全
			<a href=""> 
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="safe">
			收藏
			<a href="">
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="shezhi">
			图片质量
			<a href=""> 
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="secrt">
			意见反馈
			<a href="">
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="view">
			清除缓存
			<a href="">
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="other">
			关于我们
			<a href="">
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="footer">
			<a href="/visitor/loginout">退出当前账号</a>
		</div>
	</body>
</html>