<% include top.html%>

    <link rel="stylesheet" href="/css/sharing.css" />
    <!-- <link rel="stylesheet" href="/css/info.css" /> -->
<title>分享会</title>
</head>


<body style="font-size: 12px;">
    <div class="top">
    	<a href="/visitor/my" class="left00">
       		<span class="glyphicon glyphicon-menu-left left01"></span>
    	</a>
    	<a href="/visitor/info">
			<span class="biaoti">分享会</span>
    	</a>
   		<a href="/visitor/info" class="right00">
			<span class="layui-icon layui-icon-more-vertical share"></span>
   		</a>    		                 
	</div>

	<div class="content"></div>











</body>
</html>