<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="UTF-8" />
	<!--允许全屏--> 
  	<meta content="yes" name="apple-mobile-web-app-capable"> 
  	<meta content="yes" name="apple-touch-fullscreen"> 
  	<meta content="telephone=no,email=no" name="format-detection"> 
	
	<script type="text/javascript" async="" src="/js/top.js"></script>

  	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"> 

	<link rel="apple-touch-icon" href="/img/favicon.png"> 
	<link rel="shortcut icon" href="/img/jieta01.ico" />

	<link rel="stylesheet" href="/layui/css/layui.css">
	<link rel="stylesheet" href="/layui/css/layui.mobile.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">	

	<script src="/jquery/jquery-3.3.1.js"></script>
	<script src="/layui/layui.all.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>

	<meta content="a1z3i" name="data-spm">
  	<meta content="20140614.a1z3i.meyxt9ed" name="data-scm">

    <link rel="stylesheet" href="/css/top.css" />