
<nav class="navbar navbar-default navbar-fixed-bottom">
    	 
        <a class="menu01" href="/visitor/app">
            <span class="glyphicon glyphicon-home"></span>
            <p>首页</p>
        </a>
        <a class="menu02" href="/visitor/works">
            <span class="glyphicon glyphicon-record"></span>
            <p>论坛</p>
        </a>
        <a class="menu03" href="/visitor/add">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <p></p>
        </a>
        <a class="menu04" href="/visitor/info">
            <span class="glyphicon glyphicon-bell"></span>
            <p>消息</p>
        </a>
        <a class="menu05 menuGoTop" href="/visitor/my">
            <span class="glyphicon glyphicon-user"></span>
            <p>我的</p>
        </a>

</nav>

</body>
</html>